{% extends 'base.html' %}
{% load static %}

{% block content %}


<section dir="rtl" class="ftco-section ftco-no-pb ftco-no-pt bg-light text-right">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last">
                <div class="img-wrap">
                    <img src="{% static 'images/person_2.jpg' %}" class="img-fluid" alt="About Image">
                </div>
            </div>
            <div class="col-md-7">
                <div class="heading-section">
                    <h2 class="mb-4">درباره ما</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-paragraph">
                            <h4>به آموزش زبان و ریاضی خوش آمدید!</h4>
                            <p>ما یک وبسایت آموزشی هستیم که به ارائه خدمات آموزش زبان و ریاضی با کیفیت بالا می‌پردازیم.
                                هدف ما ارتقای سطح دانش زبانی و ریاضی دانش‌آموزان است تا بتوانند به بهترین شکل ممکن
                                در موفقیت‌های تحصیلی خود پیشرفت کنند.</p>
                            <p>در وبسایت ما شما قادر خواهید بود به صورت آنلاین به دروس زبان و ریاضی دسترسی داشته
                                باشید. ما با استفاده از روش‌های مدرن و منابع متنوع، تجربه آموزشی مفید و جذابی را برای
                                شما فراهم می‌کنیم.</p>
                            <p>تیم ما از اساتید و متخصصان حوزه زبان و ریاضی تشکیل شده است که با تجربه و دانش فراوان
                                در زمینه آموزش فعالیت می‌کنند. همچنین، با ایجاد بستری متقابل بین دانش‌آموزان و
                                اساتید، امکان پرسش و پاسخ و تبادل نظر میان آن‌ها را فراهم می‌کنیم.</p>
                            <p>با ما همراه شوید و تجربه‌ی منحصربه‌فرد آموزش زبان و ریاضی را تجربه کنید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}