{% load static %}
<footer dir="rtl" class="ftco-footer ftco-bg-dark ftco-section text-right">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">سوالی دارید؟</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 خیابان جعلی، ماونتین ویو، سان فرانسیسکو، کالیفرنیا، ایالات متحده آمریکا</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5 ml-md-4">
                    <h2 class="ftco-heading-2">لینک‌ها</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>خانه</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>درباره ما</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>خدمات</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>بخش‌ها</a></li>
                        <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>تماس</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">ما را دنبال کنید!</h2>
                    <form action="." method="POST" class="subscribe-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control mb-2 text-center"
                                   placeholder="آدرس ایمیل خود را وارد کنید">
                            <button type="submit">عضویت</button>
                    </form>

                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">با ما در ارتباط باشید</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    حقوق تکثیر این وبسایت متعلق به
                    &copy;
                    این وبسایت است و توسط <i class="icon-heart"
                                       aria-hidden="true"></i> <a
                            href="https://ponisha.ir/profile/abbasabbasi" target="_blank">عباس عباسی</a>
                    ساخته شده است.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
